<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CourseraAutomationSuite" parallel="classes" thread-count="3" verbose="1">

    <test name="CourseraTests" preserve-order="true">
        <classes>
            <class name="com.hackathonproject.runners.TestRunner"/>
        </classes>
    </test>

</suite>
